body{
    background: black;
  }
  
  img {
    width: 350px;
    height: 700px;
    border-radius: 90px;
    border: solid 3px #e83030;
    box-shadow: 0px 15px 20px #b12020;
  }
  
  .aa{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  
  .main{
    perspective: 500px;
    width: 350px;
    height: 700px;
    padding-bottom: -100px;
  }
  
  .main_Itadori {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .main_Sukuna{
    backface-visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .screen {
    backface-visibility: hidden;
    transition: all 1s cubic-bezier(0.000, 0.705, 0.580, 1.000);
  }
  
  .main .screen.main_Itadori{
    position: absolute;
    transform: rotateY(0deg);
  }
  
  .main:hover .screen.main_Itadori{
    transform: rotateY(180deg);
    opacity: 0;
  }
  
  .main .screen.main_Sukuna{
    transform: rotateY(-180deg);
  }
  
  .main:hover .screen.main_Sukuna{
    transform: rotateY(0deg);
    opacity: 1;
  }
  
  .wrap {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #b12020;
    box-shadow: 0px 15px 20px #750b0b;
    color: #ffffff;
    transform: translateY(-7px);
  }
  